/*Copyright 2014 Carl Johnson IV*/
.center
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 2em;
	font-size: 1.2em;
	padding: 0px;
}

.center .title
{
	font-size: 1.1em;
	font-weight: bold;
}

.center .content
{
	
}
