/*Copyright 2014 Carl Johnson IV*/
body
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: Calibri,sans-serif;
	font-size: 16px;
	background-color: rgb(200,220,250);
	display: flex;
	flex-direction: column;
}

body > div
{
	margin-bottom: 1em;
	width: 100%;
}

.buttons a
{
	text-decoration: none;
	border-style: outset;
	padding: 0.5ex;
	text-align: center;
}

.buttons a:hover
{
	border-style: inset;
}

.buttons a:active
{
	background-color: black;
	color: white;
}

u
{
	text-decoration: underline;
}

blockquote .attribution
{
	text-align: right;
}
