/*Copyright 2014 Carl Johnson IV*/
body
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	font-family: Calibri,sans-serif;
	font-size: 16px;
	background-color: rgb(180,200,255);
	display: flex;
	flex-direction: column;
}

body > div
{
	margin-bottom: 1em;
	width: 100%;
}

u
{
	text-decoration: underline;
}

blockquote .attribution
{
	text-align: right;
}

.comingsoon
{
	font-size: 2.5em;
	font-style: italic;
	font-weight: bold;
}
