/*Copyright 2014 Carl Johnson IV*/
.footer
{
	display: block;
	color: #5050FF;
}

.footer > a
{
	display: inline-block;
	margin: 0px 2rex 0px;
}

.footer .copyright
{
	text-align: center;
	font-size: 0.7em;
}

.footer .paidfor
{
	border-width: 1px;
	border-style: solid;
	border-color: #5050FF;
	text-align: center;
	margin-top: 2em;
	width: 32ex;
	margin-right: auto;
	margin-left: auto;
	padding: 0.5ex 0;
	font-size: 0.8em;
}
