/*Copyright 2014 Carl Johnson IV*/
.header
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: Cablibri,sans-serif;
}

.header .banner
{
	background-image: url('/images/header.background.png');
	height: 250px;
	width: 100%;
	font-size: 2em;
	overflow: hidden;
}

.header .texty
{
	width: 295px;
	overflow: hidden;
}

.header .texty > div.bill
{
	text-align: left;
	font-weight: bold;
}

.header .texty > div.kelberlau
{
	color: rgb(230,0,0);
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.6ex;
}

.header .texty > div.your
{
	font-size: 0.7em;
	font-weight: bold;
	text-align: left;
}

.header .texty > div.adjective
{
	font-weight: bold;
	text-align: center;
	color: rgb(200,0,0);
}

.header .texty > div.choice
{
	font-weight: bold;
	text-align: right;
	color: rgb(200,0,0);
}

.header .texty > div.for
{
	font-size: 0.6em;
	margin-top: 0.3ex;
}

.header .navbar
{
	align-self: flex-end;
	background-color: darkblue;
	width: 100%;
	padding: 0.5ex 0px;
}

.header .navbar > a
{
	text-decoration: none;
	background-color: darkblue;
	color: white;
	font-weight: bold;
	font-size: 1.4em;
}

.header .navbar > a:hover
{
	color: yellow;
}

.header .navbar > a:active
{
	color: purple;
}

.header .notice
{
	color: red;
	font-size: 2em;
	font-weight: bold;
	padding-top: 0.5ex;
	text-align: center;
}

.header .county
{
	font-weight: bold;
	display: inline;
}
