/*Copyright 2014 Carl Johnson IV*/
.header
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: Cablibri,sans-serif;
	margin-bottom: 1.5em;
}

.header .banner
{
	background-image: url('/images/header.background.png');
	height: 250px;
	width: 100%;
	font-size: 2em;
	overflow: hidden;
}

.header .texty
{
	width: 310px;
	overflow: hidden;
}

.header .texty > div.bill
{
	text-align: left;
	font-weight: bold;
}

.header .texty > div.kelberlau
{
	color: rgb(230,0,0);
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.4ex;
}

.header .texty > div.your
{
	font-size: 0.7em;
	font-weight: bold;
	text-align: left;
}

.header .texty > div.adjective
{
	font-weight: bold;
	text-align: center;
	color: rgb(200,0,0);
	font-size: 1.1em;
}

.header .texty > div.choice
{
	font-weight: bold;
	text-align: right;
	color: rgb(200,0,0);
	font-size: 1.1em;
}

.header .texty > div.for
{
	font-size: 0.62em;
	margin-top: 0.3ex;
}

.header .notice
{
	color: red;
	font-size: 2em;
	font-weight: bold;
	padding-top: 0.5ex;
	text-align: center;
}

.header .county
{
	font-weight: bold;
	display: inline;
}
