/*Copyright 2014 Carl Johnson IV*/
.page
{
	width: 100%;
}

.page > div
{
	width: 100%;
}

h2
{
	text-align: center;
	font-family: Calibri,sans-serif;
	font-size: 2em;
}

.warning
{
	font-family: Calibri,sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: red;
}

.indent
{
	margin-left: +4ex;
}
